# Visual Studio
.vs/
/backend/src/ProducManager.Api/bin/Debug/net8.0
/backend/src/ProductManager.Application/bin/Debug/net8.0
/backend/src/ProductManager.Domain/bin/Debug/net8.0
/backend/src/ProductManager.Infrastructure/bin/Debug/net8.0
/backend/src/ProductManager.Infrastructure/obj/Debug/net8.0
/backend/src/ProductManager.Domain/obj/Debug/net8.0
/backend/src/ProducManager.Api/obj
/backend/src/ProductManager.Application/obj/Debug/net8.0
/backend/src/ProducManager.Api/obj/Debug/net8.0/ProducManager.Api.AssemblyInfoInputs.cache
/backend/src/ProducManager.Api/obj/Debug/net8.0/ProducManager.Api.csproj.AssemblyReference.cache
/backend/src/ProducManager.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
/backend/src/ProductManager.Application/obj/Debug/net8.0/ProductManager.Application.AssemblyInfoInputs.cache
/backend/src/ProductManager.Infrastructure/obj/Debug/net8.0/ProductManager.Infrastructure.AssemblyInfo.cs
/backend/src/ProductManager.Infrastructure/obj/Debug/net8.0/ProductManager.Infrastructure.csproj.AssemblyReference.cache
/backend/src/ProductManager.Infrastructure/obj/Debug/net8.0/ProductManager.Infrastructure.AssemblyInfoInputs.cache
/backend/src/ProductManager.Domain/obj/Debug/net8.0/ProductManager.Domain.AssemblyInfo.cs
/backend/src/ProductManager.Domain/obj/Debug/net8.0/ProductManager.Domain.AssemblyInfoInputs.cache
/backend/src/ProductManager.Application/obj/Debug/net8.0/ProductManager.Application.AssemblyInfo.cs
/backend/src/ProducManager.Api/obj/Debug/net8.0/ProducManager.Api.AssemblyInfo.cs
/backend/src/ProducManager.Api/obj/Container/ContainerId.cache
/backend/src/ProducManager.Api/obj/Debug/net8.0/ProducManager.Api.GeneratedMSBuildEditorConfig.editorconfig
/backend/src/ProducManager.Api/obj/ProducManager.Api.csproj.nuget.dgspec.json
/backend/src/ProducManager.Api/obj/ProducManager.Api.csproj.nuget.g.props
/backend/src/ProducManager.Api/obj/project.assets.json
/backend/src/ProducManager.Api/obj/project.nuget.cache
/backend/src/ProductManager.Infrastructure/obj/Debug/net8.0/ProductManager.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/backend/src/ProductManager.Infrastructure/obj/ProductManager.Infrastructure.csproj.nuget.dgspec.json
/backend/src/ProductManager.Infrastructure/obj/ProductManager.Infrastructure.csproj.nuget.g.props
/backend/src/ProductManager.Infrastructure/obj/project.assets.json
/backend/src/ProductManager.Infrastructure/obj/project.nuget.cache
/backend/src/ProductManager.Domain/obj/ProductManager.Domain.csproj.nuget.dgspec.json
/backend/src/ProductManager.Domain/obj/ProductManager.Domain.csproj.nuget.g.props
/backend/src/ProductManager.Domain/obj/project.assets.json
/backend/src/ProductManager.Domain/obj/project.nuget.cache
/backend/src/ProductManager.Application/obj/Debug/net8.0/ProductManager.Application.GeneratedMSBuildEditorConfig.editorconfig
/backend/src/ProductManager.Application/obj/ProductManager.Application.csproj.nuget.dgspec.json
/backend/src/ProductManager.Application/obj/ProductManager.Application.csproj.nuget.g.props
/backend/src/ProductManager.Application/obj/project.assets.json
/backend/src/ProductManager.Application/obj/project.nuget.cache
