# ========================
# .NET
# ========================
bin/
obj/
*.user
*.suo

# ========================
# Visual Studio
# ========================
.vs/

# ========================
# Angular / Node
# ========================
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# ========================
# Angular build/cache
# ========================
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# ========================
# IDEs
# ========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
.project
.classpath
.settings/

# ========================
# Misc
# ========================
.sass-cache/
coverage/
libpeerconnection.log
testem.log
typings/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db